{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block html_head %}
{% endblock %}

{% block content %}



<div class="small-container">


 
    <!-- the group A-->
    <table id="groups">
     
        <tr>

            <caption class="group-title">Group A</caption>
            <th  class="gh">Pos</th>
            <th  class="gh">Team</th>
            <th  class="gh">Pld</th>

            <th  class="gh">W</th>
            <th  class="gh">D</th>
            <th  class="gh">L</th>

            <th  class="gh">GF</th>
            <th  class="gh">GA</th>
            <th  class="gh">GD</th>

            <th  class="gh">Pts</th>
            <th  class="gh">Qualification</th>
         

        </tr>

        <tr>
           
            <td>1</td>
            <td>Qatar</td>
            <td>0</td>

            <td>0</td>
            <td>0</td>
            <td>0</td>

            <td>0</td>
            <td>0</td>
            <td>0</td>

            <td>0</td>
            <td class="qualification-cel">Qualification</td>
           
           
        </tr>
        <tr>

            <td>2</td>
            <td>Ecuador</td>
            <td>0</td>

            <td>0</td>
            <td>0</td>
            <td>0</td>

            <td>0</td>
            <td>0</td>
            <td>0</td>

            <td>0</td>
            <td class="qualification-cel">Qualification</td>



        </tr>
        <tr>
       

            <td>3</td>
            <td>Senegal</td>
            <td>0</td>

            <td>0</td>
            <td>0</td>
            <td>0</td>

            <td>0</td>
            <td>0</td>
            <td>0</td>

            <td>0</td>
            <td></td>

        </tr>
        <tr>
       
            <td>4</td>
            <td>Netherlands</td>
            <td>0</td>

            <td>0</td>
            <td>0</td>
            <td>0</td>

            <td>0</td>
            <td>0</td>
            <td>0</td>

            <td>0</td>
            <td></td>

        </tr>

        <tbody>
            <button class="collapsible">
                Fixures 
            </button>
        </tbody>
       
    </table>

   
    <table class="fixtures"> 
    
        <tr>
            <th>Fixtures - <i>Group A</i></th>
            <th>Date</th>
        </tr>
      
         <!-- mathc # 1 Group A -->
            <tr>
                <td>Qatar vs Ecuador</td>
                <td>Nov 21st, 2022</td>
            </tr>

            <tr>
                <td>Senegal vs Netherlands</td>
                <td>Nov 21st, 2022</td>
            </tr>

         <!-- mathc # 2 Group A -->
            <tr>
                <td>Qatar vs Senegal</td>
                <td>Nov 25th, 2022</td>
            </tr>

            <tr>
                <td>Netherlands vs Ecuador</td>
                <td>Nov 26th, 2022</td>
            </tr>

         <!-- mathc # 3 Group A -->
            <tr>
                <td>Ecuador vs Senegal</td>
                <td>Nov 29th, 2022</td>
            </tr>
            <tr>
                <td>Netherlands vs Qatar</td>
                <td>Nov 29th, 2022</td>
            </tr>


    </table>



    <!-- // group B
         -->
        
    <table id="groups">
     
        <tr>

            <caption class="group-title">Group B</caption>
            <th  class="gh">Pos</th>
            <th  class="gh">Team</th>
            <th  class="gh">Pld</th>

            <th  class="gh">W</th>
            <th  class="gh">D</th>
            <th  class="gh">L</th>

            <th  class="gh">GF</th>
            <th  class="gh">GA</th>
            <th  class="gh">GD</th>

            <th  class="gh">Pts</th>
            <th  class="gh">Qualification</th>
         

        </tr>

        <tr>
           
            <td>1</td>
            <td>England</td>
            <td>0</td>

            <td>0</td>
            <td>0</td>
            <td>0</td>

            <td>0</td>
            <td>0</td>
            <td>0</td>

            <td>0</td>
            <td class="qualification-cel">Qualification</td>
           
           
        </tr>
        <tr>
      

            <td>2</td>
            <td>Iran</td>
            <td>0</td>

            <td>0</td>
            <td>0</td>
            <td>0</td>

            <td>0</td>
            <td>0</td>
            <td>0</td>

            <td>0</td>
            <td class="qualification-cel">Qualification</td>



        </tr>
        <tr>
       

            <td>3</td>
            <td>United States</td>
            <td>0</td>

            <td>0</td>
            <td>0</td>
            <td>0</td>

            <td>0</td>
            <td>0</td>
            <td>0</td>

            <td>0</td>
            <td></td>

        </tr>
        <tr>
       

            <td>4</td>
            <td>UEFA Path A winners</td>
            <td>0</td>

            <td>0</td>
            <td>0</td>
            <td>0</td>

            <td>0</td>
            <td>0</td>
            <td>0</td>

            <td>0</td>
            <td></td>

        </tr>

    <!-- // group C
         -->
        
    <table id="groups">
     
        <tr>

            <caption class="group-title">Group C</caption>
            <th  class="gh">Pos</th>
            <th  class="gh">Team</th>
            <th  class="gh">Pld</th>

            <th  class="gh">W</th>
            <th  class="gh">D</th>
            <th  class="gh">L</th>

            <th  class="gh">GF</th>
            <th  class="gh">GA</th>
            <th  class="gh">GD</th>

            <th  class="gh">Pts</th>
            <th  class="gh">Qualification</th>
         

        </tr>

        <tr>
           
            <td>1</td>
            <td>Argentina</td>
            <td>0</td>

            <td>0</td>
            <td>0</td>
            <td>0</td>

            <td>0</td>
            <td>0</td>
            <td>0</td>

            <td>0</td>
            <td class="qualification-cel">Qualification</td>
           
           
        </tr>
        <tr>
      

            <td>2</td>
            <td>Saudi Arabia</td>
            <td>0</td>

            <td>0</td>
            <td>0</td>
            <td>0</td>

            <td>0</td>
            <td>0</td>
            <td>0</td>

            <td>0</td>
            <td class="qualification-cel">Qualification</td>



        </tr>
        <tr>
       

            <td>3</td>
            <td>Mexico</td>
            <td>0</td>

            <td>0</td>
            <td>0</td>
            <td>0</td>

            <td>0</td>
            <td>0</td>
            <td>0</td>

            <td>0</td>
            <td></td>

        </tr>
        <tr>
       
            <td class="circle">4</td>
            <td>Poland</td>
            <td>0</td>

            <td>0</td>
            <td>0</td>
            <td>0</td>

            <td>0</td>
            <td>0</td>
            <td>0</td>

            <td>0</td>
            <td></td>

        </tr>

        
   <!-- // group D
         -->
        
         <table id="groups">
     
            <tr>
    
                <caption class="group-title">Group D</caption>
                <th  class="gh">Pos</th>
                <th  class="gh">Team</th>
                <th  class="gh">Pld</th>
    
                <th  class="gh">W</th>
                <th  class="gh">D</th>
                <th  class="gh">L</th>
    
                <th  class="gh">GF</th>
                <th  class="gh">GA</th>
                <th  class="gh">GD</th>
    
                <th  class="gh">Pts</th>
                <th  class="gh">Qualification</th>
             
    
            </tr>
    
            <tr>
               
                <td>1</td>
                <td>France</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td class="qualification-cel">Qualification</td>
               
               
            </tr>
            <tr>
          
    
                <td>2</td>
                <td>AFC–CONMEBOL winners</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td class="qualification-cel">Qualification</td>
    
    
    
            </tr>
            <tr>
           
    
                <td>3</td>
                <td>Denmark</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td></td>
    
            </tr>
            <tr>
           
                <td class="circle">4</td>
                <td>Tunisia</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td></td>
    
            </tr>
    
        <!-- // group E
         -->
        
         <table id="groups">
     
            <tr>
    
                <caption class="group-title">Group E</caption>
                <th  class="gh">Pos</th>
                <th  class="gh">Team</th>
                <th  class="gh">Pld</th>
    
                <th  class="gh">W</th>
                <th  class="gh">D</th>
                <th  class="gh">L</th>
    
                <th  class="gh">GF</th>
                <th  class="gh">GA</th>
                <th  class="gh">GD</th>
    
                <th  class="gh">Pts</th>
                <th  class="gh">Qualification</th>
             
    
            </tr>
    
            <tr>
               
                <td>1</td>
                <td>Spain</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td class="qualification-cel">Qualification</td>
               
               
            </tr>
            <tr>
          
    
                <td>2</td>
                <td>CONCACAF–OFC winners</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td class="qualification-cel">Qualification</td>
    
    
    
            </tr>
            <tr>
           
    
                <td>3</td>
                <td>Germany</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td></td>
    
            </tr>
            <tr>
           
                <td class="circle">4</td>
                <td>Japan</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td></td>
    
            </tr>
    

                 <!-- // group F
         -->
        
         <table id="groups">
     
            <tr>
    
                <caption class="group-title">Group F</caption>
                <th  class="gh">Pos</th>
                <th  class="gh">Team</th>
                <th  class="gh">Pld</th>
    
                <th  class="gh">W</th>
                <th  class="gh">D</th>
                <th  class="gh">L</th>
    
                <th  class="gh">GF</th>
                <th  class="gh">GA</th>
                <th  class="gh">GD</th>
    
                <th  class="gh">Pts</th>
                <th  class="gh">Qualification</th>
             
    
            </tr>
    
            <tr>
               
                <td>1</td>
                <td>Belgium</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td class="qualification-cel">Qualification</td>
               
               
            </tr>
            <tr>
          
    
                <td>2</td>
                <td>Canada</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td class="qualification-cel">Qualification</td>
    
    
    
            </tr>
            <tr>
           
    
                <td>3</td>
                <td>Morocco</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td></td>
    
            </tr>
            <tr>
           
                <td class="circle">4</td>
                <td>Japan</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td></td>
    
            </tr>
    


               <!-- // group G
         -->
        
         <table id="groups">
     
            <tr>
    
                <caption class="group-title">Group G</caption>
                <th  class="gh">Pos</th>
                <th  class="gh">Team</th>
                <th  class="gh">Pld</th>
    
                <th  class="gh">W</th>
                <th  class="gh">D</th>
                <th  class="gh">L</th>
    
                <th  class="gh">GF</th>
                <th  class="gh">GA</th>
                <th  class="gh">GD</th>
    
                <th  class="gh">Pts</th>
                <th  class="gh">Qualification</th>
             
    
            </tr>
    
            <tr>
               
                <td>1</td>
                <td>Brazil</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td class="qualification-cel">Qualification</td>
               
               
            </tr>
            <tr>
          
    
                <td>2</td>
                <td>Serbia</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td class="qualification-cel">Qualification</td>
    
    
    
            </tr>
            <tr>
           
    
                <td>3</td>
                <td>Switzerland</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td></td>
    
            </tr>
            <tr>
           
                <td class="circle">4</td>
                <td>Cameroon</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td></td>
    
            </tr>
    
            


        <!-- group H -->
        
         <table id="groups">
     
            <tr>
    
                <caption class="group-title">Group H</caption>
                <th  class="gh">Pos</th>
                <th  class="gh">Team</th>
                <th  class="gh">Pld</th>
    
                <th  class="gh">W</th>
                <th  class="gh">D</th>
                <th  class="gh">L</th>
    
                <th  class="gh">GF</th>
                <th  class="gh">GA</th>
                <th  class="gh">GD</th>
    
                <th  class="gh">Pts</th>
                <th  class="gh">Qualification</th>
             
    
            </tr>
    
            <tr>
               
                <td>1</td>
                <td>Portugal</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td class="qualification-cel">Qualification</td>
               
               
            </tr>
            <tr>
          
    
                <td>2</td>
                <td>Ghana</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td class="qualification-cel">Qualification</td>
    
    
    
            </tr>
            <tr>
           
    
                <td>3</td>
                <td>Uruguay</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td></td>
    
            </tr>
            <tr>
           
                <td class="circle">4</td>
                <td>South Korea</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td>0</td>
                <td>0</td>
    
                <td>0</td>
                <td></td>
    
            </tr>
       
    </table>
        
</div>

    
{%endblock%}
