{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block html_head %}
{% endblock %}

{% block content %}

<div class="small-container">

    <div class="groups">
        <a href="{{ url_for('groups') }}">Groups</a>
    </div>
  <div class="row row-2">
      <h2>All Countries qualified Fifa World Cup | 2022 [ Qatar ]</h2>
      <select name="" id="">
          
         <option>Default Sorting</option>
         <option>Sort by price</option>
         <option>Sort by popularity</option>
         <option>Sort by sale</option>

      </select>
  </div>
  <div class="row">

     <div class="col-4">
        
        
         <img src="{{ url_for('static', filename='images/qatar.png') }}">
        
         <h4>Qatar</h4>
         <p>$89.47</p>
     </div>

     <div class="col-4">
     
     
          <img src="{{ url_for('static', filename='images/ecuador.png') }}">

         <h4>Ecuador</h4>
         <p>$89.47</p>
     </div>

     <div class="col-4">
        
         <img src="{{ url_for('static', filename='images/senegal.png') }}">

         <h4>Senegal</h4>
         <p>$89.47</p>
     </div>

     <div class="col-4">
       
         <img src="{{ url_for('static', filename='images/netherlands.png') }}">

         <h4>Uruguay</h4>
         <p>$89.47</p>
     </div>
 
 </div>


 <div class="row">

     <div class="col-4">
         <img src="{{ url_for('static', filename='images/england.png') }}">

         <h4>England</h4>
         <p>$89.47</p>
     </div>
     <div class="col-4">
     
       <img src="{{ url_for('static', filename='images/iran.png') }}">

       <h4>Iran</h4>
       <p>$89.47</p>
     </div>
     <div class="col-4">
      
       <img src="{{ url_for('static', filename='images/usFlag.png') }}">

       <h4>United States</h4>
       <p>$89.47</p>
     </div>
     <div class="col-4">
      
       <img src="{{ url_for('static', filename='images/ukraine.png') }}">

       <h4>Ukraine</h4>
       <p>$89.47</p>
     </div>


   </div>


   <div class="row">

     <div class="col-4">
      
        <img src="{{ url_for('static', filename='images/Argentina.jpeg') }}">

         <h4>Argentina</h4>
         <p>$89.47</p>
         </div>
         <div class="col-4">
          <img src="{{ url_for('static', filename='images/saudiArabia.png') }}">

         <h4>Saudi Arabia</h4>
         <p>$89.47</p>
         </div>
         <div class="col-4">
          <img src="{{ url_for('static', filename='images/Mexico.jpeg') }}">

          <h4>Mexico</h4>
         <p>$89.47</p>
         </div>
         <div class="col-4">
          <img src="{{ url_for('static', filename='images/poland.png') }}">

         <h4>Poland</h4>
         <p>$89.47</p>
         
     </div>

     <div class="col-4">
         <img src="{{ url_for('static', filename='images/france.png') }}">
         <h4>France</h4>
         <p>$89.47</p>
         </div>
         <div class="col-4">
          
          <img src="{{ url_for('static', filename='images/uae.png') }}">        
          <h4>UAE</h4>
         <p>$89.47</p>
         </div>
         <div class="col-4">
          <img src="{{ url_for('static', filename='images/denmark.png') }}">

         <h4>Denmark</h4>
         <p>$89.47</p>
         </div>
         <div class="col-4">
          <img src="{{ url_for('static', filename='images/Tunisia.png') }}">

         <h4>Tunisia</h4>
         <p>$89.47</p>
         
     </div>


     <div class="col-4">
       
         <img src="{{ url_for('static', filename='images/spain.png') }}">

         <h4>Spain</h4>
         <p>$89.47</p>
         </div>
         <div class="col-4">
          <img src="{{ url_for('static', filename='images/peru.png') }}">

         <h4>Peru</h4>
         <p>$89.47</p>
         </div>
         <div class="col-4">
          <img src="{{ url_for('static', filename='images/germany.png') }}">

         <h4>Germany</h4>
         <p>$89.47</p>
         </div>
         <div class="col-4">
          <img src="{{ url_for('static', filename='images/japan.png') }}">

         <h4>Japan</h4>
         <p>$89.47</p>
         
     </div>


     <div class="col-4">
      <img src="{{ url_for('static', filename='images/belgum.png') }}">

      <h4> Belgium</h4>
         <p>$89.47</p>
         </div>
         <div class="col-4">
          <img src="{{ url_for('static', filename='images/canada.png') }}">

          <h4>Canada</h4>
         <p>$89.47</p>
         </div>
         <div class="col-4">
          <img src="{{ url_for('static', filename='images/morocco.png') }}">

          <h4>Morocco</h4>
         <p>$89.47</p>
         </div>
         <div class="col-4">
          <img src="{{ url_for('static', filename='images/croatia.png') }}">

          <h4>Croatia</h4>
         <p>$89.47</p>
         
     </div>


     <div class="col-4">
         
      <img src="{{ url_for('static', filename='images/brazil.png') }}">

      <h4>Brazil</h4>
         <p>$89.47</p>
         </div>
         <div class="col-4">
         
          <img src="{{ url_for('static', filename='images/serbia.png') }}">

          <h4>Serbia</h4>
         <p>$89.47</p>
         </div>
         <div class="col-4">
          <img src="{{ url_for('static', filename='images/swiz.png') }}">

          <h4>Swizerland</h4>
         <p>$89.47</p>
         </div>
         <div class="col-4">
          <img src="{{ url_for('static', filename='images/cameroon.png') }}">

          <h4>Cameroon</h4>
         <p>$89.47</p>
         
     </div>


     <div class="col-4">
         
      <img src="{{ url_for('static', filename='images/portugal.png') }}">

      <h4>Portugal</h4>
         <p>$89.47</p>
         </div>
         <div class="col-4">
         
          <img src="{{ url_for('static', filename='images/ghana.png') }}">

          <h4>Ghana</h4>
         <p>$89.47</p>
         </div>
         <div class="col-4">
          <img src="{{ url_for('static', filename='images/uruguay.png') }}">

          <h4>Uruguay</h4>
         <p>$89.47</p>
         </div>
         <div class="col-4">
          <img src="{{ url_for('static', filename='images/southKorea.png') }}">

          <h4>south Korea</h4>
         <p>$89.47</p>
         
     </div>

     
  
     <h3 class="qualifier">
       Not Qualified
     </h3>

     <div class="row">

         <div class="col-6">

             <img src="{{ url_for('static', filename='images/uae.png') }}">

             <h4>UAE</h4>
             <p>$89.47</p>
             </div>

             <div class="col-6">


                 <img src="{{ url_for('static', filename='images/aus.png') }}">

                 <h4>Austerlia</h4>
                 <p>$89.47</p>
                 
             </div>

             <div class="col-6">
             

                 <img src="{{ url_for('static', filename='images/peru.png') }}">

                 <h4>Peru</h4>
                 <p>$89.47</p>

             </div>

             <div class="col-6">
               
                <img src="{{ url_for('static', filename='images/scotland.png') }}">

                 <h4>Scotland</h4>
                 <p>$89.47</p>
             </div>


             <div class="col-6">
              <img src="{{ url_for('static', filename='images/wales.png') }}">

                 <h4>Wales</h4>
                 <p>$89.47</p>
             </div>
             
         </div>
   
     </div>
     <div class="page-btn">
         <span>1</span>
         <span>2</span>
         <span>3</span>
         <span>4</span>
         <span>&#8594;</span>
     </div>

</div>
{% endblock %}
